@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  box-sizing: border-box;
  border-width: 0;
  margin: 0; padding: 0;
  outline: none;
  border-color: #e5e7eb;
  font-family: "Inter", sans-serif;
}

a, li {
  list-style: none;
  text-decoration: none;
}
/* Header */
.header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.logo img{
  width: 9rem;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 4rem;
}

.nav-item a {
  font-weight: 400;
  color: #010101;
  text-decoration: none;
}

/* Main Hero */
.container, body {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: .5rem;
  padding-left: .5rem;
}

.hero {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 5rem 4rem;
  border-radius: 1rem;
  color: #fff;
  background: linear-gradient(
        to right,
        rgb(26, 25, 25),
        rgba(42, 42, 43, 0.411)
    );
}

.hero-video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -10;
}

.hero-badge {
  font-weight: 400;
  color: red;
  margin-bottom: .5rem;
}

.hero-title {
  width: 50%;
  font-size: 3.75rem;
  font-weight: 700;
}

.hero-footer {
  width: 20rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1rem;
}

.hero-footer p{
  font-size: 1rem;
  color: #f1f1f1;
}

.hero-actions {
  width: 170%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.hero-actions button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  padding: 1rem 1.5rem;
  border-radius: 1.5rem;
  font-weight: 600;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
}

.primary {
  background: red;
}

.secondary {
  background: transparent;
  border: 2px solid #fff;
}

/* Footer */
.footer {
  max-width: 1440px;
  margin: 5rem auto 8rem;
  padding: 2.5rem 2rem 0;
  border-top: 1px solid #ebebeb;
  font-family: sans-serif;
}

.footer-top{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3.12rem;
}

.footer-brand {
  max-width: 18.75rem;
}

.footer-brand .logo{
  display: flex;
  align-items: center;
  margin-bottom: .875rem;
}

.footer-description {
  color: #8a8a8a;
  font-size: .875rem;
  line-height: 1.7;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  margin-top: .875rem;
}

.social {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  border: 1px solid #ebebeb;
  background: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3a3a3a;
  text-decoration: none;
  transition: .3s;
}

.instagram:hover {
  border-color: #e639ac;
}

.whatsapp:hover {
  border-color: #25D366;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 4.37rem;
}

.footer-grid h3 {
  font-size: 1rem;
  color: #1b1b1b;
  margin-bottom: 1.12rem;
}

.footer-grid a {
  display: block;
  color: #8a8a8a;
  margin-bottom: 12px;
  text-decoration: none;
  transition: .3s;
}

.footer-grid a:hover {
  color: #1b1b1b;
}

.footer-grid p {
  color: #8a8a8a;
  line-height: 1.7;
}

.footer-grid strong {
  color: #1b1b1b;
}


.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: .875rem;
  color: #8a8a8a;
  border-top: 2px solid #ebebeb;
  margin-top: 2.5rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.footer-bottom a {
  font-weight: 600;
  color: #021B1A;
}

.footer-bottom a:hover {
  color: #3AAC3A;
}

/* Media */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 900px) {
  .footer-top {
    flex-direction: column;
  }

  .footer-grid {
    grid-template-columns: 1fr;
    gap: 2.18rem;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 0.75rem;
    text-align: center;
  }

}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}